.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.dashboard {
  font-family: Arial, sans-serif;
  background: #FAFAF8;
  color: #333333;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  .header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      color: #0021A5; // uf blue
    }

    p {
      font-size: 1.2em;
    }
  }

  .suggestion-engine {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #CCC;
        background: #F8F8F8;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-weight: bold;

      &.get-suggestions {
        background: #FF6600; // uf orange
        color: #FFF;

        &:hover {
          background: #CC5200;
        }
      }

      &.directory-button {
        background: #0021A5; // uf blue
        color: #FFF;
        margin-top: 10px;

        &:hover {
          background: #001970; // darker uf blue
        }
      }

      &.contact-button {
        background: #00529B; // uf blue
        color: #FFF;
        margin-top: 10px;

        &:hover {
          background: #003C7E; // dark uf blue
        }
      }
    }
  }

  .results-section {
    margin-top: 20px;
    max-height: 800px;
    overflow-y: scroll;


    h2 {
      margin-bottom: 10px;
    }


    .compact-results {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #DDD;
        border-radius: 5px;
        background: #FFF;

        strong {
          color: #0021A5; // uf blue for titles
        }

        small {
          color: #555; // light/subtle gray for authors
          font-size: 14px;
        }
        .ribbon.save {
            color: #0021a5;
            cursor: pointer;
            font-weight: bold;
        }
      }
      a {
        text-decoration: none;
        color: #0021A5;
        font-weight: bold;
      }
      a:hover {
        text-decoration: underline;
      }

    }
  }
}
